<!--================ About History Area  =================-->
<section class="about_history_area section_gap">
  <div class="container">
    <div class="row">
      <div class="col-md-6 d_flex align-items-center">
        <div class="about_content ">
          <h2 class="title title_color">About Us <br>Our History<br>Mission & Vision</h2>
          <p>inappropriate behavior is often laughed off as “boys will be boys,” women face higher conduct standards
            especially in the workplace. That’s why it’s crucial that, as women, our behavior on the job is beyond
            reproach. inappropriate behavior is often laughed.</p>
          <a href="#" class="button_hover theme_btn_two">Request Custom Price</a>
        </div>
      </div>
      <div class="col-md-6">
        <img class="img-fluid" src="../../assets/about_bg.jpg" alt="img">
      </div>
    </div>
  </div>
</section>
<!--================ About History Area  =================-->

<!--================ Facilities Area  =================-->
<section class="facilities_area section_gap">
  <div class="overlay bg-parallax" data-stellar-ratio="0.8" data-stellar-vertical-offset="0" data-background="">
  </div>
  <div class="container">
    <div class="section_title text-center">
      <h2 class="title_w">Royal Facilities</h2>
      <p>Who are in extremely love with eco friendly system.</p>
    </div>
    <div class="row mb_30">
      <div class="col-lg-4 col-md-6">
        <div class="facilities_item">
          <h4 class="sec_h4"><i class="lnr lnr-dinner"></i>Restaurant</h4>
          <p>Usage of the Internet is becoming more common due to rapid advancement of technology and power.</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="facilities_item">
          <h4 class="sec_h4"><i class="lnr lnr-bicycle"></i>Sports CLub</h4>
          <p>Usage of the Internet is becoming more common due to rapid advancement of technology and power.</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="facilities_item">
          <h4 class="sec_h4"><i class="lnr lnr-shirt"></i>Swimming Pool</h4>
          <p>Usage of the Internet is becoming more common due to rapid advancement of technology and power.</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="facilities_item">
          <h4 class="sec_h4"><i class="lnr lnr-car"></i>Rent a Car</h4>
          <p>Usage of the Internet is becoming more common due to rapid advancement of technology and power.</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="facilities_item">
          <h4 class="sec_h4"><i class="lnr lnr-construction"></i>Gymnesium</h4>
          <p>Usage of the Internet is becoming more common due to rapid advancement of technology and power.</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="facilities_item">
          <h4 class="sec_h4"><i class="lnr lnr-coffee-cup"></i>Bar</h4>
          <p>Usage of the Internet is becoming more common due to rapid advancement of technology and power.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!--================ Facilities Area  =================-->

<!--================ Testimonial Area  =================-->
<section class="testimonial_area section_gap">
  <div class="container">
    <div class="section_title text-center">
      <h2 class="title_color">Testimonial from our Clients</h2>
      <p>The French Revolution constituted for the conscience of the dominant aristocratic class a fall from </p>
    </div>
    <div class="testimonial_slider owl-carousel" *ngFor="let item of getserivce">
      <div class="media testimonial_item">
        <!-- <img class="rounded-circle" src="../../assets/testtimonial-1.jpg" alt=""> -->
        <ngx-avatar  class="rounded-circle"  name={{getusername}}></ngx-avatar>
        <div class="media-body">
          <p>{{item.message}} </p>
          <a href="#">
            <h4 class="sec_h4">{{item.name}}</h4>
          </a>

          <ngb-rating [(rate)]="item.rating">
            <ng-template let-fill="fill" let-index="index">
              <span class="star" [class.filled]="fill === 100" [class.bad]="index < 1">&#9733;</span>
            </ng-template>
          </ngb-rating>
        </div>
      </div>


    </div>
  </div>
</section>
<!--================ Testimonial Area  =================-->
