<div class="container px-4 py-5 mx-auto">
  <div class="card card0">
      <div class="d-flex flex-lg-row flex-column-reverse">
          <div class="card card1">
              <div class="row justify-content-center my-auto">
                  <div class="col-md-8 col-10 my-5">
                    <div class="row justify-content-center px-3 mb-3"> 
                      <img id="logo" src="../../assets/blog/post-img2.jpg"> 
                    </div>

                    <h3 class="mb-5 text-center heading"></h3>
                    <h6 class="msg-info">Please login to your account</h6>
                 
                    <form [formGroup]="loginForm" (submit)="loginUser()">
                      <!------------------------------------Email Address --------------------------------- -->
                      <div class="form-group"> <label class="form-control-label text-muted">Email</label>
                        <input type='email' id="email" formControlName="email" name="email" [ngClass]="{ 'is-invalid': submitted && myForm.email.errors }" placeholder="Enter Email Here"
                          class="form-control" pInputText>
                          <div *ngIf="submitted && myForm.email.errors" class="invalid-feedback">
                            <div *ngIf="myForm.email.errors.required">Email is required</div>
                          </div>
                      </div>

                      <!------------------------------------Password -------------------------------------- -->
                      <div class="form-group"> <label class="form-control-label text-muted">Password</label>
                        <input type="password" formControlName="password" id="psw" name="psw" placeholder="Enter Password Here"
                          class="form-control" [ngClass]="{ 'is-invalid': submitted && myForm.password.errors }" pInputText>
                          <div *ngIf="submitted && myForm.password.errors" class="invalid-feedback">
                            <div *ngIf="myForm.password.errors.required">password is required</div>
                          </div>
                        </div>

                      <!---------------------------------- login button -------------------------------------- -->
                      <div class="row justify-content-center my-3 px-3"> <button class="btn-block btn-color">Login</button> </div>
            
                    </form>
                    </div>
              </div>
              <div class="bottom text-center mb-5">
                  <p routerLink="/signup" class="sm-text mx-auto mb-3">Don't have an account?<button class="btn btn-white ml-2">Create new</button></p>
              </div>
          </div>
          <div class="card card2">
              <div class="my-auto mx-md-5 px-md-5 right">
                  <h3 class="text-white">We are more than just a company</h3> <small class="text-white">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</small>
              </div>
          </div>
      </div>
  </div>
</div>



