
        <!--================Breadcrumb Area =================-->
        
        <!--================Breadcrumb Area =================-->
        <section class="gallery_area section_gap">
            <div class="container">
                <div class="section_title text-center">
                    <h2 class="title_color">HMS  Gallery</h2>
                    <p>Who are in extremely love with eco friendly system.</p>
                </div>
                <div class="row imageGallery1" id="gallery">
                    <div class="col-md-4 gallery_item">
                        <div class="gallery_img">
                            <img src="../../assets/gallery/01.jpg"  alt="">
                            <div class="hover">
                            	<a class="light" href="image/gallery/01.jpg"><i class="fa fa-expand"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 gallery_item">
                        <div class="gallery_img">
                            <img src="../../assets/gallery/02.jpg" alt="">
                            <div class="hover">
                            	<a class="light" href="../../assets/gallery/02.jpg"><i class="fa fa-expand"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 gallery_item">
                        <div class="gallery_img">
                            <img src="../../assets/gallery/03.jpg" alt="">
                            <div class="hover">
                            	<a class="light" href="image/gallery/03.jpg"><i class="fa fa-expand"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 gallery_item">
                        <div class="gallery_img">
                            <img src="../../assets/gallery/04.jpg" alt="">
                            <div class="hover">
                            	<a class="light" href="./../assets/gallery/04.jpg"><i class="fa fa-expand"></i></a>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-md-4 gallery_item">
                        <div class="gallery_img">
                            <img src="./../assets/gallery/06.jpg" alt="">
                            <div class="hover">
                            	<a class="light" href="./../assets/gallery/05.jpg"><i class="fa fa-expand"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 gallery_item">
                        <div class="gallery_img">
                            <img src="./../assets/gallery/05.jpg" alt="">
                            <div class="hover">
                            	<a class="light" href="./../assets/gallery/06.jpg"><i class="fa fa-expand"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 gallery_item">
                        <div class="gallery_img">
                            <img src="./../assets/gallery/01-1.jpg" alt="">
                            <div class="hover">
                            	<a class="light" href="./../assets/gallery/01-1.jpg"><i class="fa fa-expand"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 gallery_item">
                        <div class="gallery_img">
                            <img src="./../assets/gallery/02-1.jpg" alt="">
                            <div class="hover">
                            	<a class="light" href="./../assets/gallery/02-1.jpg"><i class="fa fa-expand"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 gallery_item">
                        <div class="gallery_img">
                            <img src="./../assets/gallery/03-1.jpg" alt="">
                            <div class="hover">
                            	<a class="light" href="./../assets/gallery/03-1.jpg"><i class="fa fa-expand"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--================Breadcrumb Area =================-->
        
        
        

