.carousel {

    position: relative;

    margin-left: -184px !important;

}

.slider_img{

    width: 100%; height: 400px;

}

.service_block {

    width: 100%;

    text-align: center;

}

.service_image >img {

    border-radius: 17px;

}